
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start slider -->
<div id="carouselIndicators" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselIndicators" data-slide-to="1"></li>
        <li data-target="#carouselIndicators" data-slide-to="2"></li>
        <li data-target="#carouselIndicators" data-slide-to="3"></li>
    </ol>

    <!-- carousel content -->
    <div class="carousel-inner">
        <div class="carousel-item active" style="margin: auto; height: 400px;">
            <img class="d-block w-100 img img-responsive" style="height: 400px" src="~/Assets/images/banner/68af7052-7075-4828-bff5-94327137d13e.jpg" alt="First slide">
        </div>

        <div class="carousel-item" style="margin: auto; height: 400px;">
            <img class="d-block w-100 img img-responsive" style="height: 400px" src="~/Assets/images/banner/329ec368-6113-4e26-88e0-f6f1683e61b9.png" alt="Second slide">
        </div>

        <div class="carousel-item" style="margin: auto; height: 400px;">
            <img class="d-block w-100 img img-responsive" style="height: 400px" src="~/Assets/images/banner/612829c3-d07b-405f-b023-fbce0a38c4de.jpg" alt="Third slide">
        </div>

        <div class="carousel-item" style="margin: auto; height: 400px;">
            <img class="d-block w-100 img img-responsive" style="height: 400px" src="~/Assets/images/banner/883b8a35-12ee-4a0e-98db-b3d1844c4d80.jpg" alt="Fourth slide">
        </div>
    </div>

    <!-- controls -->
    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!----start-cursual---->
<div class="wrap">
    <!----start-img-cursual---->
    <div id="owl-demo" class="owl-carousel">
        <div class="item" onclick="location.href='/ChiTietSach/Index';">
            <div class="cau_left">
                <img class="lazyOwl" src="~/Assets/images/test.jpg" alt="Lazy Owl Image">
            </div>
            <div class="cau_left" style="height: 150px;">
                <h4 style="height: 50%; overflow: hidden; text-overflow: ellipsis;"><a href="details.html" style="font-size: 18px; font-weight: 500;">Những đứa con của bóng tối</a></h4>
                <a href="details.html" class="btn" style="margin-top: 10px;">Đặt mua</a>
            </div>
        </div>
        <div class="item" onclick="location.href='/ChiTietSach/Index';">
            <div class="cau_left">
                <img class="lazyOwl" src="~/Assets/images/-truyen-ngan-hay-2018_94009_1.jpg" alt="Lazy Owl Image">
            </div>
            <div class="cau_left" style="height: 150px;">
                <h4 style="height: 50%; overflow: hidden; text-overflow: ellipsis;"><a href="details.html" style="font-size: 18px; font-weight: 500;">Truyện ngắn hay 2018</a></h4>
                <a href="details.html" class="btn" style="margin-top: 10px;">Đặt mua</a>
            </div>
        </div>
        <div class="item" onclick="location.href='/ChiTietSach/Index';">
            <div class="cau_left">
                <img class="lazyOwl" src="~/Assets/images/3-phut-thien_95889_1.jpg" alt="Lazy Owl Image">
            </div>
            <div class="cau_left" style="height: 150px;">
                <h4 style="height: 50%; overflow: hidden; text-overflow: ellipsis;"><a href="details.html" style="font-size: 18px; font-weight: 500;">3 phút thiền</a></h4>
                <a href="details.html" class="btn" style="margin-top: 10px;">Đặt mua</a>
            </div>
        </div>
        <div class="item" onclick="location.href='/ChiTietSach/Index';">
            <div class="cau_left">
                <img class="lazyOwl" src="~/Assets/images/365-ngay-hoang-dao-song-tu-tai-ban-2018-_90680_1.jpg" alt="Lazy Owl Image">
            </div>
            <div class="cau_left" style="height: 150px;">
                <h4 style="height: 50%; overflow: hidden; text-overflow: ellipsis;"><a href="details.html" style="font-size: 18px; font-weight: 500;">365 ngày hoàng đạo Song Tử</a></h4>
                <a href="details.html" class="btn" style="margin-top: 10px;">Đặt mua</a>
            </div>
        </div>
        <div class="item" onclick="location.href='/ChiTietSach/Index';">
            <div class="cau_left">
                <img class="lazyOwl" src="~/Assets/images/76171_con-nit-con-noi-kiddie-kiddo-song-ngu-viet-anh-phien-ban-li-xi-tet_75993_1.jpg" alt="Lazy Owl Image">
            </div>
            <div class="cau_left" style="height: 150px;">
                <h4 style="height: 50%; overflow: hidden; text-overflow: ellipsis;"><a href="details.html" style="font-size: 18px; font-weight: 500;">Con nít con nôi</a></h4>
                <a href="details.html" class="btn" style="margin-top: 10px;">Đặt mua</a>
            </div>
        </div>
        <div class="item" onclick="location.href='/ChiTietSach/Index';">
            <div class="cau_left">
                <img class="lazyOwl" src="~/Assets/images/75476_tren-duong-bang-tony-buoi-sang_44722_1.jpg" alt="Lazy Owl Image">
            </div>
            <div class="cau_left" style="height: 150px;">
                <h4 style="height: 50%; overflow: hidden; text-overflow: ellipsis;"><a href="details.html" style="font-size: 18px; font-weight: 500;">Trên đường băng</a></h4>
                <a href="details.html" class="btn" style="margin-top: 10px;">Đặt mua</a>
            </div>
        </div>
        <div class="item" onclick="location.href='/ChiTietSach/Index';">
            <div class="cau_left">
                <img class="lazyOwl" src="~/Assets/images/america-shark-tank-ren-luyen-y-chi-chien-thang-cung-shark-mark-cuban_93708_1.jpg" alt="Lazy Owl Image">
            </div>
            <div class="cau_left" style="height: 150px;">
                <h4 style="height: 50%; overflow: hidden; text-overflow: ellipsis;"><a href="details.html" style="font-size: 18px; font-weight: 500;">Bí quyết kinh doanh của Shark Mark Cuban</a></h4>
                <a href="details.html" class="btn" style="margin-top: 10px;">Đặt mua</a>
            </div>
        </div>
    </div>
    <!----//End-img-cursual---->
</div>
<!-- start main1 -->
@Html.Action("SachMoi","Sach")

