
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start slider -->
<div id="carouselIndicators" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselIndicators" data-slide-to="1"></li>
        <li data-target="#carouselIndicators" data-slide-to="2"></li>
        <li data-target="#carouselIndicators" data-slide-to="3"></li>
    </ol>

    <!-- carousel content -->
    <div class="carousel-inner">
        <div class="carousel-item active" style="margin: auto; height: 400px;">
            <img class="d-block w-100 img img-responsive" style="height: 400px" src="~/Assets/images/banner/68af7052-7075-4828-bff5-94327137d13e.jpg" alt="First slide">
        </div>

        <div class="carousel-item" style="margin: auto; height: 400px;">
            <img class="d-block w-100 img img-responsive" style="height: 400px" src="~/Assets/images/banner/329ec368-6113-4e26-88e0-f6f1683e61b9.png" alt="Second slide">
        </div>

        <div class="carousel-item" style="margin: auto; height: 400px;">
            <img class="d-block w-100 img img-responsive" style="height: 400px" src="~/Assets/images/banner/612829c3-d07b-405f-b023-fbce0a38c4de.jpg" alt="Third slide">
        </div>

        <div class="carousel-item" style="margin: auto; height: 400px;">
            <img class="d-block w-100 img img-responsive" style="height: 400px" src="~/Assets/images/banner/883b8a35-12ee-4a0e-98db-b3d1844c4d80.jpg" alt="Fourth slide">
        </div>
    </div>

    <!-- controls -->
    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!----start-cursual---->
<div class="wrap">
    <!----start-img-cursual---->
    <div id="owl-demo" class="owl-carousel">
        <div class="item" onclick="location.href='details.html';">
            <div class="cau_left">
                <img class="lazyOwl" src="~/Assets/images/test.jpg" alt="Lazy Owl Image">
            </div>
            <div class="cau_left" style="height: 150px;">
                <h4 style="height: 50%; overflow: hidden; text-overflow: ellipsis;"><a href="details.html" style="font-size: 18px; font-weight: 500;">Những đứa con của bóng tối</a></h4>
                <a href="details.html" class="btn" style="margin-top: 10px;">Đặt mua</a>
            </div>
        </div>
        <div class="item" onclick="location.href='details.html';">
            <div class="cau_left">
                <img class="lazyOwl"src="~/Assets/images/-truyen-ngan-hay-2018_94009_1.jpg" alt="Lazy Owl Image">
            </div>
            <div class="cau_left" style="height: 150px;">
                <h4 style="height: 50%; overflow: hidden; text-overflow: ellipsis;"><a href="details.html" style="font-size: 18px; font-weight: 500;">Truyện ngắn hay 2018</a></h4>
                <a href="details.html" class="btn" style="margin-top: 10px;">Đặt mua</a>
            </div>
        </div>
        <div class="item" onclick="location.href='details.html';">
            <div class="cau_left">
                <img class="lazyOwl" src="~/Assets/images/3-phut-thien_95889_1.jpg" alt="Lazy Owl Image">
            </div>
            <div class="cau_left" style="height: 150px;">
                <h4 style="height: 50%; overflow: hidden; text-overflow: ellipsis;"><a href="details.html" style="font-size: 18px; font-weight: 500;">3 phút thiền</a></h4>
                <a href="details.html" class="btn" style="margin-top: 10px;">Đặt mua</a>
            </div>
        </div>
        <div class="item" onclick="location.href='details.html';">
            <div class="cau_left">
                <img class="lazyOwl" src="~/Assets/images/365-ngay-hoang-dao-song-tu-tai-ban-2018-_90680_1.jpg" alt="Lazy Owl Image">
            </div>
            <div class="cau_left" style="height: 150px;">
                <h4 style="height: 50%; overflow: hidden; text-overflow: ellipsis;"><a href="details.html" style="font-size: 18px; font-weight: 500;">365 ngày hoàng đạo Song Tử</a></h4>
                <a href="details.html" class="btn" style="margin-top: 10px;">Đặt mua</a>
            </div>
        </div>
        <div class="item" onclick="location.href='details.html';">
            <div class="cau_left">
                <img class="lazyOwl" src="~/Assets/images/76171_con-nit-con-noi-kiddie-kiddo-song-ngu-viet-anh-phien-ban-li-xi-tet_75993_1.jpg" alt="Lazy Owl Image">
            </div>
            <div class="cau_left" style="height: 150px;">
                <h4 style="height: 50%; overflow: hidden; text-overflow: ellipsis;"><a href="details.html" style="font-size: 18px; font-weight: 500;">Con nít con nôi</a></h4>
                <a href="details.html" class="btn" style="margin-top: 10px;">Đặt mua</a>
            </div>
        </div>
        <div class="item" onclick="location.href='details.html';">
            <div class="cau_left">
                <img class="lazyOwl" src="~/Assets/images/75476_tren-duong-bang-tony-buoi-sang_44722_1.jpg" alt="Lazy Owl Image">
            </div>
            <div class="cau_left" style="height: 150px;">
                <h4 style="height: 50%; overflow: hidden; text-overflow: ellipsis;"><a href="details.html" style="font-size: 18px; font-weight: 500;">Trên đường băng</a></h4>
                <a href="details.html" class="btn" style="margin-top: 10px;">Đặt mua</a>
            </div>
        </div>
        <div class="item" onclick="location.href='details.html';">
            <div class="cau_left">
                <img class="lazyOwl" src="~/Assets/images/america-shark-tank-ren-luyen-y-chi-chien-thang-cung-shark-mark-cuban_93708_1.jpg" alt="Lazy Owl Image">
            </div>
            <div class="cau_left" style="height: 150px;">
                <h4 style="height: 50%; overflow: hidden; text-overflow: ellipsis;"><a href="details.html" style="font-size: 18px; font-weight: 500;">Bí quyết kinh doanh của Shark Mark Cuban</a></h4>
                <a href="details.html" class="btn" style="margin-top: 10px;">Đặt mua</a>
            </div>
        </div>
    </div>
    <!----//End-img-cursual---->
</div>
<!-- start main1 -->
<div class="main_bg1">
    <div class="wrap">
        <div class="main1">
            <h2>Sách mới</h2>
        </div>
    </div>
</div>
<!-- start main -->
<div class="main_bg">
    <div class="wrap">
        <div class="main">
            <!-- start grids_of_3 -->
            <div class="grids_of_3">
                <div class="grid1_of_3">
                    <a href="details.html">
                        <img src="~/Assets/images/test2.jpg" alt="" />
                        <h3 style=" overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Những "mẹo" thích nghi tài tình blahhhhhhhhhhhhhhhhhhhhhhhhhhh</h3>
                        <div class="price">
                            <h4>
                                <span>100.000đ</span>
                                <span style="text-decoration: line-through; font-size: 0.8em; margin-left: 5px;">120.000đ</span>
                                <span class="details">Chi tiết</span>
                            </h4>
                        </div>
                        <span class="b_btm"></span>
                    </a>
                </div>
                <div class="grid1_of_3">
                    <a href="details.html">
                        <img src="~/Assets/images/ban-be-toi-van-ngom-ca-roi_91155_1.jpg" alt="" />
                        <h3 style=" overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Bạn bè tôi vẫn ngỏm cả rồi</h3>
                        <div class="price">
                            <h4>
                                <span>36.000đ</span>
                                <span class="details">Chi tiết</span>
                            </h4>
                        </div>
                        <span class="b_btm"></span>
                    </a>
                </div>
                <div class="grid1_of_3">
                    <a href="details.html">
                        <img src="~/Assets/images/chan-troi-cua-dien-anh_75167_2.jpg" alt="" />
                        <h3 style=" overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Chân trời của hình ảnh</h3>
                        <div class="price">
                            <h4>
                                <span>690.000đ</span>
                                <span style="text-decoration: line-through; font-size: 0.8em; margin-left: 5px;">960.000đ</span>
                                <span class="details">Chi tiết</span>
                            </h4>
                        </div>
                        <span class="b_btm"></span>
                    </a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="grids_of_3">
                <div class="grid1_of_3">
                    <a href="details.html">
                        <img src="~/Assets/images/cho-doi-thien-su-co-be-chim-go-kien_95941_1.jpg" alt="" />
                        <h3 style=" overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Cô bé chim gõ kiến</h3>
                        <div class="price">
                            <h4>
                                <span>66.000đ</span>
                                <span class="details">Chi tiết</span>
                            </h4>
                        </div>
                        <span class="b_btm"></span>
                    </a>
                </div>
                <div class="grid1_of_3">
                    <a href="details.html">
                        <img src="~/Assets/images/cho-doi-thien-su-the-gioi-cua-em-trai_95942_1.jpg" alt="" />
                        <h3 style=" overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Thế giới của em trai</h3>
                        <div class="price">
                            <h4>
                                <span>8.000đ</span>
                                <span class="details">Chi tiết</span>
                            </h4>
                        </div>
                        <span class="b_btm"></span>
                    </a>
                </div>
                <div class="grid1_of_3">
                    <a href="details.html">
                        <img src="~/Assets/images/chu-hai-cau-hanh-phuc_95946_1.jpg" alt="" />
                        <h3 style=" overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Chú hải cẩu hạnh phúc</h3>
                        <div class="price">
                            <h4>
                                <span>28.000đ</span>
                                <span style="text-decoration: line-through; font-size: 0.8em; margin-left: 5px;">32.000đ</span>
                                <span class="details">Chi tiết</span>
                            </h4>
                        </div>
                        <span class="b_btm"></span>
                    </a>
                </div>
                <div class="clear"></div>
            </div>
            <!-- end grids_of_3 -->
        </div>
    </div>
    <script>
        var $myCarousel = $('#carouselIndicators')
        $myCarousel.carousel()

        function doAnimations(elems) {
            var animEndEv = 'webkitAnimationEnd animationend'

            elems.each(function () {
                var $this = $(this),
                    $animationType = $this.data('animation')

                $this.addClass($animationType).one(animEndEv, function () {
                    $this.removeClass($animationType)
                })
            })
        }

        var $firstAnimatingElems = $myCarousel.find('.carousel-item:first')
            .find('[data-animation ^= "animated"]')

        doAnimations($firstAnimatingElems);

        $myCarousel.on('slide.bs.carousel', function (e) {
            var $animatingElems = $(e.relatedTarget)
                .find("[data-animation ^= 'animated']")
            doAnimations($animatingElems)
        })
    </script>
</div>

