
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Danh mục";
}


<!-- start main -->
<div class="main_bg">
    <div class="wrap">
        <div class="main">
            <!-- start gallery_sale  -->
            <div class="gallery1">
                <div class="container">
                    <ul id="filters" class="clearfix">
                        <li><span class="filter active" data-filter="app card logo web">Tất cả</span></li>
                        <li><span class="filter" data-filter="app">Sách giáo khoa</span></li>
                        <li><span class="filter" data-filter="card">Sách thiếu nhi</span></li>
                        <li><span class="filter" data-filter="logo">Sách khoa học</span></li>
                        <li><span class="filter" data-filter="web">Sách khác</span></li>
                    </ul>
                    <div id="portfoliolist">
                        <div class="portfolio logo" data-cat="logo">
                            <div class="portfolio-wrapper">
                                <a href="/ChiTietSach/Index">
                                    <img src="~/Assets/images/books/k.jpg" alt="Image 2" />
                                </a>
                                <div class="price">
                                    <h3>Thuật tư tưởng asdfghjklsdfsdjkwek</h3>
                                    <h4>
                                        <span>690.000đ</span>
                                        <span class="sale">960.000đ</span>
                                        <span class="details">Chi tiết</span>
                                    </h4>
                                </div>
                            </div>
                        </div>

                        <div class="portfolio app" data-cat="app">
                            <div class="portfolio-wrapper">
                                <a href="/ChiTietSach/Index">
                                    <img src="~/Assets/images/books/gk.jpg" alt="Image 2" />
                                </a>
                                <div class="price">
                                    <h3>Thuật tư tưởng 23456789jdfgnjkdfngkjnzkdf</h3>
                                    <h4>
                                        <span>690.000đ</span>
                                        <span class="sale">960.000đ</span>
                                        <span class="details">Chi tiết</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio web" data-cat="web">
                            <div class="portfolio-wrapper">
                                <a href="/ChiTietSach/Index">
                                    <img src="~/Assets/images/books/z.jpg" alt="Image 2" />
                                </a>
                                <div class="price">
                                    <h3>Thuật tư tưởng</h3>
                                    <h4>
                                        <span>690.000đ</span>
                                        <span class="sale">960.000đ</span>
                                        <span class="details">Chi tiết</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio card" data-cat="card">
                            <div class="portfolio-wrapper">
                                <a href="/ChiTietSach/Index">
                                    <img src="~/Assets/images/books/t.jpg" alt="Image 2" />
                                </a>
                                <div class="price">
                                    <h3>Thuật tư tưởng</h3>
                                    <h4>
                                        <span>690.000đ</span>
                                        <span class="sale">960.000đ</span>
                                        <span class="details">Chi tiết</span>
                                    </h4>
                                </div>
                            </div>
                        </div>

                        <div class="portfolio card" data-cat="card">
                            <div class="portfolio-wrapper">
                                <a href="/ChiTietSach/Index">
                                    <img src="~/Assets/images/books/tt.jpg" alt="Image 2" />
                                </a>
                                <div class="price">
                                    <h3>Thuật tư tưởng</h3>
                                    <h4>
                                        <span>690.000đ</span>
                                        <span class="sale">960.000đ</span>
                                        <span class="details">Chi tiết</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio web" data-cat="web">
                            <div class="portfolio-wrapper">
                                <a href="/ChiTietSach/Index">
                                    <img src="~/Assets/images/books/zz.jpg" alt="Image 2" />
                                </a>
                                <div class="price">
                                    <h3>Thuật tư tưởng</h3>
                                    <h4>
                                        <span>690.000đ</span>
                                        <span class="sale">960.000đ</span>
                                        <span class="details">Chi tiết</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio app" data-cat="app">
                            <div class="portfolio-wrapper">
                                <a href="/ChiTietSach/Index">
                                    <img src="~/Assets/images/books/gk6.jpg" alt="Image 2" />
                                </a>
                                <div class="price">
                                    <h3>Thuật tư tưởng</h3>
                                    <h4>
                                        <span>690.000đ</span>
                                        <span class="sale">960.000đ</span>
                                        <span class="details">Chi tiết</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio card" data-cat="card">
                            <div class="portfolio-wrapper">
                                <a href="/ChiTietSach/Index">
                                    <img src="~/Assets/images/books/ttt.jpg" alt="Image 2" />
                                </a>
                                <div class="price">
                                    <h3>Thuật tư tưởng</h3>
                                    <h4>
                                        <span>690.000đ</span>
                                        <span class="sale">960.000đ</span>
                                        <span class="details">Chi tiết</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio app" data-cat="app">
                            <div class="portfolio-wrapper">
                                <a href="/ChiTietSach/Index">
                                    <img src="~/Assets/images/books/gk3.jpg" alt="Image 2" />
                                </a>
                                <div class="price">
                                    <h3>Thuật tư tưởng</h3>
                                    <h4>
                                        <span>690.000đ</span>
                                        <span class="sale">960.000đ</span>
                                        <span class="details">Chi tiết</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio card" data-cat="card">
                            <div class="portfolio-wrapper">
                                <a href="/ChiTietSach/Index">
                                    <img src="~/Assets/images/books/tttt.jpg" alt="Image 2" />
                                </a>
                                <div class="price">
                                    <h3>Thuật tư tưởng</h3>
                                    <h4>
                                        <span>690.000đ</span>
                                        <span class="sale">960.000đ</span>
                                        <span class="details">Chi tiết</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio app" data-cat="app">
                            <div class="portfolio-wrapper">
                                <a href="/ChiTietSach/Index">
                                    <img src="~/Assets/images/books/gk4.jpg" alt="Image 2" />
                                </a>
                                <div class="price">
                                    <h3>Thuật tư tưởng</h3>
                                    <h4>
                                        <span>690.000đ</span>
                                        <span class="sale">960.000đ</span>
                                        <span class="details">Chi tiết</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio card" data-cat="card">
                            <div class="portfolio-wrapper">
                                <a href="/ChiTietSach/Index">
                                    <img src="~/Assets/images/books/ttttt.jpg" alt="Image 2" />
                                </a>
                                <div class="price">
                                    <h3>Thuật tư tưởng</h3>
                                    <h4>
                                        <span>690.000đ</span>
                                        <span class="sale">960.000đ</span>
                                        <span class="details">Chi tiết</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio app" data-cat="app">
                            <div class="portfolio-wrapper">
                                <a href="/ChiTietSach/Index">
                                    <img src="~/Assets/images/books/gk5.jpg" alt="Image 2" />
                                </a>
                                <div class="price">
                                    <h3>Thuật tư tưởng</h3>
                                    <h4>
                                        <span>690.000đ</span>
                                        <span class="sale">960.000đ</span>
                                        <span class="details">Chi tiết</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio logo" data-cat="logo">
                            <div class="portfolio-wrapper">
                                <a href="/ChiTietSach/Index">
                                    <img src="~/Assets/images/books/kk.jpg" alt="Image 2" />
                                </a>
                                <div class="price">
                                    <h3>Thuật tư tưởng</h3>
                                    <h4>
                                        <span>690.000đ</span>
                                        <span class="sale">960.000đ</span>
                                        <span class="details">Chi tiết</span>
                                    </h4>
                                </div>
                            </div>
                        </div>

                        <div class="portfolio logo" data-cat="logo">
                            <div class="portfolio-wrapper">
                                <a href="/ChiTietSach/Index">
                                    <img src="~/Assets/images/books/kkk.jpg" alt="Image 2" />
                                </a>
                                <div class="price">
                                    <h3>Thuật tư tưởng</h3>
                                    <h4>
                                        <span>690.000đ</span>
                                        <span class="sale">960.000đ</span>
                                        <span class="details">Chi tiết</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio logo" data-cat="logo">
                            <div class="portfolio-wrapper">
                                <a href="/ChiTietSach/Index">
                                    <img src="~/Assets/images/books/kkkk.jpg" alt="Image 2" />
                                </a>
                                <div class="price">
                                    <h3>Thuật tư tưởng</h3>
                                    <h4>
                                        <span>690.000đ</span>
                                        <span class="sale">960.000đ</span>
                                        <span class="details">Chi tiết</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- container -->
                <script type="text/javascript" src="~/Assets/js/fliplightbox.min.js"></script>
                <script type="text/javascript">$('body').flipLightBox()</script>
                <div class="clear"> </div>
            </div>
            <!---End-gallery----->
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {

        var filterList = {

            init: function () {

                // MixItUp plugin
                // http://mixitup.io
                $('#portfoliolist').mixitup({
                    targetSelector: '.portfolio',
                    filterSelector: '.filter',
                    effects: ['fade'],
                    easing: 'snap',
                    // call the hover effect
                    onMixEnd: filterList.hoverEffect()
                });

            },

            hoverEffect: function () {

                // Simple parallax effect
                $('#portfoliolist .portfolio').hover(
                    function () {
                        $(this).find('.label').stop().animate({ bottom: 0 }, 200, 'easeOutQuad');
                        $(this).find('img').stop().animate({ top: -30 }, 500, 'easeOutQuad');
                    },
                    function () {
                        $(this).find('.label').stop().animate({ bottom: -40 }, 200, 'easeInQuad');
                        $(this).find('img').stop().animate({ top: 0 }, 300, 'easeOutQuad');
                    }
                );

            }

        };

        // Run the show!
        filterList.init();


    });
</script>