
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Giỏ hàng";
}

<div class="row">
    <div class="col-md-9 left-container">
        <table class="table cart-table">
            <thead class="thead-light">
                <tr>
                    <th>
                        <form action="#" class="form">
                            <div class="checkbox">
                                <input type="checkbox" />
                            </div>
                        </form>
                    </th>
                    <th colspan="2" class="header-cart">Giỏ hàng</th>
                    <th class="header-cart" style="text-align: center;">Giá</th>
                    <th class="header-cart">Số lượng</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <form action="#" class="form">
                            <div class="checkbox">
                                <input type="checkbox" />
                            </div>
                        </form>
                    </td>
                    <td class="col-content-img">
                        <div>
                            <img src="~/Assets/images/cart-2.jpg" alt="images">
                        </div>
                    </td>
                    <td class="col-content-title">
                        <div>
                            <div class="title">1. Chiếc Mũ Của Phù Thủy (Tái bản 2019)</div>
                            <div>
                                <div class="author">Tác giả : <span style="color: #0066c0;">Tove Jansson </span></div>
                                <div class="author">Thể loại : <span>Tiểu thuyết</span></div>
                                <div>
                                    <a href="#">Xóa</a> | <a href="#">Thêm vào yêu thích</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="col-content-price">
                        <div>
                            <span class="product-price">34,000đ</span>
                            <span class="saving">Tiết kiệm 6,000đ ( 15%)</span>
                        </div>
                    </td>
                    <td class="col-content-quantity">
                        <input type="number" value="1" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td scope="col">
                        <form action="#" class="form">
                            <div class="checkbox">
                                <input type="checkbox" />
                            </div>
                        </form>
                    </td>
                    <td class="col-content-img">
                        <div>
                            <img src="~/Assets/images/cart-3.jpg" alt="images">
                        </div>
                    </td>
                    <td class="col-content-title">
                        <div>
                            <div class="title">2. Dế Mèn phiêu lưu kí</div>
                            <div>
                                <div class="author">Tác giả : <span style="color: #0066c0;">Tô Hoài </span></div>
                                <div class="author">Thể loại : <span>Truyện ngắn</span></div>
                                <div>
                                    <a href="#">Xóa</a> | <a href="#">Thêm vào yêu thích</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="col-content-price">
                        <div>
                            <span class="product-price">34,000đ</span>
                            <span class="saving">Tiết kiệm 6,000đ ( 15%)</span>
                        </div>
                    </td>
                    <td class="col-content-quantity">
                        <input type="number" value="1" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td scope="col">
                        <form action="#" class="form">
                            <div class="checkbox">
                                <input type="checkbox" />
                            </div>
                        </form>
                    </td>
                    <td class="col-content-img">
                        <div>
                            <img src="~/Assets/images/viet-cho-nhung-dieu-be-nho-nho-oi-la-tet_95802_1.jpg" alt="images">
                        </div>
                    </td>
                    <td class="col-content-title">
                        <div>
                            <div class="title">3. Viết Cho Những Điều Bé Nhỏ - Nhớ Ơi Là Tết</div>
                            <div>
                                <div class="author">Tác giả : <span style="color: #0066c0;">Thái Hương Liên </span></div>
                                <div class="author">Thể loại : <span>Văn học</span></div>
                                <div>
                                    <a href="#">Xóa</a> | <a href="#">Thêm vào yêu thích</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="col-content-price">
                        <div>
                            <span class="product-price">25,500đ</span>
                            <span class="saving">Tiết kiệm 2,500đ ( 17%)</span>
                        </div>
                    </td>
                    <td class="col-content-quantity">
                        <input type="number" value="1" class="form-control">
                    </td>
                </tr>
            </tbody>
            <tfoot>
            <td colspan="3">
                <div>
                    <button type="button" class="btn btn-danger deselect">Xóa chọn</button>
                </div>
            </td>
            <td>
                <div class="footer-price">
                    <span class="total-price">Tổng tiền: 34,000đ</span>
                    <span class="total-saving">Tiết kiệm 6,000đ ( 15%)</span>
                </div>
            </td>
            <td>
                <div>
                    <button type="button" class="btn btn-success" style="font-size: 14px;"><i class="fa fa-shopping-cart"></i>Thanh toán</button>
                </div>
            </td>
            </tfoot>
        </table>
    </div>
    <div class="col-md-3 right-container">
        <div class="cart-info">
            <div class="info">
                <span class="text-bold" style="font-size: 17px;">3 sản phẩm</span>
                <span class="text-bold" style="color: #f15c22">73,000 đ</span>
                <span style="font-size: 14px;">( Chưa có cước vận chuyển )</span>
            </div>
            <div class="payment">
                <button type="button" class="btn btn-success">
                    <i class="fa fa-shopping-cart"></i>Thanh toán
                </button>
            </div>
        </div>
        <div class="more-product">
            <div class="sellers">
                <h4>Sách có liên quan</h4>
                <div class="product-related">
                    <div class="product-details">
                        <a href="#">
                            <img src="~/Assets/images/sach-lien-quan-2.jpg" alt="image">
                            <div class="product-title">
                                Chiến Tranh Không Có Một Khuôn Mặt Phụ Nữ
                            </div>
                            <div class="product-author">
                                Svetlana Alexievich
                            </div>
                            <div>
                                <span style="color: #f15c22; font-size: 16px; font-weight: 500;">125.500đ</span>
                                <span style="color: #333333; text-decoration: line-through; font-size: 12px">148.000đ</span>
                                <span style="padding: 5px; color: #fff; background-color: #f51919;">-16%</span>
                            </div>
                        </a>
                    </div>
                    <div class="product-details">
                        <a href="#">
                            <img src="~/Assets/images/giao-duc-nao-phai-tuong-lai-cho-con-ban_54135_1.png" alt="image">
                            <div class="product-title">
                                Giáo dục não phải
                            </div>
                            <div class="product-author">
                                GS. Makoto Shichida
                            </div>
                            <div>
                                <span style="color: #f15c22; font-size: 16px; font-weight: 500;">123.000đ</span>
                                <span style="color: #333333; text-decoration: line-through; font-size: 12px">145.000đ</span>
                                <span style="padding: 5px; color: #fff; background-color: #f51919;">-16%</span>
                            </div>
                        </a>
                    </div>
                    <div class="product-details">
                        <a href="#">
                            <img src="~/Assets/images/muoi-van-cau-hoi-vi-sao-cuoc-song-quanh-ta-tai-ban-2018-_93791_1.jpg" alt="image">
                            <div class="product-title">
                                Mười vạn câu hỏi vì sao?
                            </div>
                            <div class="product-author">
                                Vân Phàm
                            </div>
                            <div>
                                <span style="color: #f15c22; font-size: 16px; font-weight: 500;">38.000đ</span>
                                <span style="color: #333333; text-decoration: line-through; font-size: 12px">45.000đ</span>
                                <span style="padding: 5px; color: #fff; background-color: #f51919;">-16%</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="banner-wrap bottom_banner color_link">
                    <a href="#" class="main_link">
                        <figure><img src="~/Assets/images/delivery.png" alt=""></figure>
                        <h5><span>Free Shipping</span><br> on orders over 250K.</h5>
                        <p>This offer is valid on all our store items.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
