@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start main -->
<div class="main_bg">
    <div class="wrap">
        <div class="main">
            <!-- start content -->
            <div class="single">
                <!-- start span1_of_1 -->
                <div class="left_content">
                    <div class="span1_of_1">
                        <!-- start product_slider -->
                        <div class="product-view">
                            <div class="product-essential">
                                <div class="product-img-box">
                                    <div class="more-views" style="float:left;">
                                    </div>
                                    <div class="product-image">
                                        <a class="" href="#" title="Women Shorts" alt="Women Shorts">
                                            <img src="~/Assets/images/test4.jpg" alt="Women Shorts" title="Women Shorts" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end product_slider -->
                    </div>
                    <!-- start span1_of_1 -->
                    <div class="span1_of_1_des">
                        <div class="desc1">
                            <div>
                                <h3 style="font-weight: 700;"> Học thể nào bây giờ ?</h3>
                                <p>Học thế nào bây giờ - Chiến Lược Phát Triển Bản Thân Và Thành Công Trong Việc Học - Dành Cho Học Sinh Cấp II</p>
                            </div>
                            <div style="display: flex;">
                                < div style= "width: 50%; display: flex; justify-content: flex-start;" >
                                < span > Tác giả</span>
                            </div>
                            <div style="width: 50%; display: flex; justify-content: flex-end;">
                                < strong style= "font-weight: 550;" > Ngô Kinh</strong>
                            </div>
                        </div>
                        <div style="display: flex;">
                            < div style= "width: 50%; display: flex; justify-content: flex-start;" >
                            < span > Dịch giả</span>
                        </div>
                        <div style="width: 50%; display: flex; justify-content: flex-end;">
                            < strong style= "font-weight: 550;" > Ngô Thừa Ân</strong>
                        </div>
                    </div>
                    <hr />
                    <div style="display: flex;">
                        < div style= "width: 50%; display: flex; justify-content: flex-start;" >
                        < span > Giá thị trường</span>
                    </div>
                    <div style="width: 50%; display: flex; justify-content: flex-end;">
                        < strong style= "text-decoration: line-through; font-size: 14px; color: #888; font-weight: 550;" > 100.000đ</strong>
                    </div>
                </div>
                <div style="display: flex;">
                    < div style= "width: 50%; display: flex; justify-content: flex-start;" >
                    < span > Giá bán</span>
                </div>
                <div style="width: 50%; display: flex; justify-content: flex-end;">
                    < strong style= "font-size: 18px; color: #f15c22; font-weight: 550;" > 80.000đ</strong>
                </div>
            </div>
            <div style="display: flex;">
                < div style= "width: 50%; display: flex; justify-content: flex-start;" >
                < span > Tiết kiệm</span>
            </div>
            <div style="width: 50%; display: flex; justify-content: flex-end;">
                < strong style= "font-size: 18px; font-weight: 550;" > 20.000đ</strong>
            </div>
        </div>
        <div style="display: flex;">
            < div style= "width: 50%; display: flex; justify-content: flex-start;" >
            < span > Tình trạng</span>
        </div>
        <div style="width: 50%; display: flex; justify-content: flex-end;">
            < em style= "font-size: 14px; color: #f15c22; font-style: italic;" > Còn hàng</em>
        </div>
    </div>
    <hr />
    <!-- <h5>Rs. 399 <a href = "#" > click for offer</a></h5> -->
    <div class="available" style="border-top: none;">
        <div style="display: flex;">
            < div style="width: 75px;">Số lượng:
        </div>
        <form class="form">
            <div class="form-group">
                <div class="btn-group">
                    <button type="button" class="btn" style="background-color: #4CCFC1; color: #fff;"><i class="fa fa-minus"></i></button>
                    <input type="text" class="form-control" value="1" style="width: 65px; border-radius: unset; text-align: center;">
                    <button type="button" class="btn" style="background-color: #4CCFC1; color: #fff;"><i class="fa fa-plus"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="btn_form">
        <form>
            <input type="submit" value="Thêm vào giỏ hàng" title="" />
        </form>
    </div>
    <div class="clear"></div>
</div>
<div class="share-desc">
    <div class="share">
        <h4>Chia sẻ :</h4>
        <ul class="share_nav">
            <li><a href="#">< img src="~/Assets/images/facebook.png" title="facebook"></a></li>
            <li><a href="#">< img src="~/Assets/images/twitter.png" title="Twiiter"></a></li>
            <li><a href="#">< img src="~/Assets/images/rss.png" title="Rss"></a></li>
            <li><a href="#">< img src="~/Assets/images/gpluse.png" title="Google+"></a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
                        </div>
                    </div>
<div class="clear"></div>
<!-- start tabs -->
<section class="tabs">
    <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked">
    <label for="tab-1" class="tab-label-1">Giới thiệu</label>

    <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2">
    <label for="tab-2" class="tab-label-2">Tác giả</label>

    <div class="clear-shadow"></div>

    <div class="content" style="height: 450px;
              overflow-y: scroll;">
        <div class="content-1">
            <h5>
                Học Thế Nào Bây Giờ???
            </h5>
            <p>
                Tại sao những người trẻ phương Tây nhìn trưởng thành và tự chủ hơn rất nhiều so với những người trẻ Việt Nam? Câu trả
                lời có lẽ nằm ở chỗ: Các nước phát triển lấy giáo dục tự chủ cho con em mình làm mục tiêu hàng đầu, họ dạy cho học
                sinh biết suy nghĩ phải học như thế nào để tiến đến thành nhân, trở thành con người tự chủ.
                <br />
                Chúng ta đang giáo dục con em mình thế nào trong gia đình và nhà trường? Phải chăng là quá coi trọng sự truyền đạt các
                tri thức giáo khoa một chiều, mà hệ quả là dẫn đến sự thụ động.Trong khi đó, phương Tây họ coi phương pháp học,
                cách thức tổ chức việc học là một trong những yếu tố cần thiết và quan trọng hàng đầu trong việc giáo dục con em.
                <br />
                Chúng ta có thể học nền giáo dục phương Tây bằng nhiều cách: mời chuyên gia nước ngoài về; tiếp thu những công
                nghệ giáo dục tiên tiến qua con đường giao lưu, trao đổi văn hóa-giáo dục; nghiên cứu so sánh các nền giáo dục để
                biết chúng ta đang ở đâu, đi đúng đường, lạc đường hay nhầm đường?… Một trong những cách học hiệu quả và ít tốn
                kém có lẽ là học từ sách, bằng cách tìm dịch những cuốn sách hay(của phương Tây) ứng dụng thực tế cho các lứa tuổi
                học sinh, cho phụ huynh và giáo viên mà cuốn sách Học thế nào bây giờ? là một trong những cuốn đầu tiên do Dự án
                Kid’s Books triển khai.
                <br />
                Bằng một lối viết phù hợp với lứa tuổi, qua cuốn sách Học thế nào bây giờ?, Giáo sư Giordan André, Đại học Genève -
                Thụy Sĩ, đã đề cập và phân tích những chủ đề hết sức cần thiết cho việc học như: học hiểu về não bộ, học tự chủ, học
                ghi chép, học quản lý thời gian, v.v…
                <br />
                Cuốn sách giải thích cho học sinh những thái độ nên có, cách thức và phương pháp tổ chức việc học tập ở nhà cũng như
                ở trường... Học sinh sẽ tìm thấy trong cuốn sách những lời khuyên hữu ích giúp bản thân thành công hơn trên con đường
                học tập.
                <br />
                Cuốn sách cũng là một người bạn tốt của phụ huynh và giáo viên, giúp họ bình tĩnh nhìn lại việc dạy và học của bản
                thân cũng như việc học của con em mình.
                <br />
                Tóm lại, Học thế nào bây giờ? là cuốn sách rất thiết thực cho tất cả học sinh cũng như phụ huynh trong việc hỗ trợ
                con cái học tập. Cuốn sách là cẩm nang quý giúp học sinh Việt Nam trong cuộc sống và trong việc học tập hằng ngày.
            </p>
            <div class="clear"></div>
        </div>
        <div class="content-2">
            <p class="para">
                <span>WELCOME</span> Contrary to popular belief, Lorem Ipsum is not simply random
                text.It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years
                old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of

                the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites
                of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from

                sections
            </p>
            <ul class="qua_nav">
                <li>Multimedia Systems</li>
                <li>Digital media adapters</li>
                <li>
                    Set top boxes for HDTV and IPTV Player applications on various Operating Systems and Hardware
                    Platforms
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- end tabs -->
                </div>
<!-- start sidebar -->
<div class="left_sidebar">
    <div class="sellers">
        <h4>Sách có liên quan</h4>
        <div style="height: 850px; overflow-y: scroll;">
            < div style= "display: flex; margin: 25px auto; width: 200px;" >
            < a href= "#" style= "text-decoration: none;" >
            < img src= "~/Assets/images/sach-lien-quan.jpg" alt= "image" >
            < div style= "font-weight: 700; color: #999;" >
            Học thế nào bây giờ
        </div>
        <div style="font-weight: 400; color: #1d9d74; font-size: 12px;">
            André Giordan
        </div>
        <div>
            <span style="color: #f15c22; font-size: 16px; font-weight: 500;"> 84.000đ</span>
            <span style="color: #333333; text-decoration: line-through; font-size: 12px"> 90.000đ</span>
            <span style="padding: 5px; color: #fff; background-color: #f51919;">
                -16 %</ span >
                </ div >
                </ a >
                </ div >
                < div style= "display: flex; margin: 25px auto; width: 200px;" >
                < a href= "#" style= "text-decoration: none;" >
                < img src= "~/Assets/images/sach-lien-quan-2.jpg" alt= "image" >
                < div style= "font-weight: 700; color: #999;" >
                Chiến Tranh Không Có Một Khuôn Mặt Phụ Nữ
        </div>
        <div style="font-weight: 400; color: #1d9d74; font-size: 12px;">
            Svetlana Alexievich
        </div>
        <div>
            <span style="color: #f15c22; font-size: 16px; font-weight: 500;"> 125.500đ</span>
            <span style="color: #333333; text-decoration: line-through; font-size: 12px"> 148.000đ</span>
            <span style="padding: 5px; color: #fff; background-color: #f51919;">
                -16 %</ span >
                </ div >
                </ a >
                </ div >
                < div style= "display: flex; margin: 25px auto; width: 200px;" >
                < a href= "#" style= "text-decoration: none;" >
                < img src= "~/Assets/images/giao-duc-nao-phai-tuong-lai-cho-con-ban_54135_1.png" alt= "image" >
                < div style= "font-weight: 700; color: #999;" >
                Giáo dục não phải
        </div>
        <div style="font-weight: 400; color: #1d9d74; font-size: 12px;">
            GS.Makoto Shichida
        </div>
        <div>
            <span style="color: #f15c22; font-size: 16px; font-weight: 500;"> 123.000đ</span>
            <span style="color: #333333; text-decoration: line-through; font-size: 12px"> 145.000đ</span>
            <span style="padding: 5px; color: #fff; background-color: #f51919;">
                -16 %</ span >
                </ div >
                </ a >
                </ div >
                < div style= "display: flex; margin: 25px auto; width: 200px;" >
                < a href= "#" style= "text-decoration: none;" >
                < img src= "~/Assets/images/muoi-van-cau-hoi-vi-sao-cuoc-song-quanh-ta-tai-ban-2018-_93791_1.jpg" alt= "image" >
                < div style= "font-weight: 700; color: #999;" >
                Mười vạn câu hỏi vì sao?
        </div>
        <div style="font-weight: 400; color: #1d9d74; font-size: 12px;">
            Vân Phàm
        </div>
        <div>
            <span style="color: #f15c22; font-size: 16px; font-weight: 500;"> 38.000đ</span>
            <span style="color: #333333; text-decoration: line-through; font-size: 12px"> 45.000đ</span>
            <span style="padding: 5px; color: #fff; background-color: #f51919;">
                -16 %</ span >
                </ div >
                </ a >
                </ div >
                </ div >
                < div class="banner-wrap bottom_banner color_link">
                <a href="#" class="main_link">
                    <figure><img src="~/Assets/images/delivery.png" alt=""></figure>
                    <h5><span>Free Shipping</span><br> on orders over 250K.</h5>
                    <p>This offer is valid on all our store items.</p>
                </a>
        </div>
    </div>
</div>
<!-- end sidebar -->
<div class="clear"></div>
            </div>
<!-- end content -->
        </div>
    </div>
</div>

